GnuPGInterface==0.3.2
PAM==0.4.2
Twisted-Core==10.0.0
Twisted-Names==10.0.0
Twisted-Web==10.0.0
command-not-found==0.1
distribute==0.6.10
foolscap==0.5.1
ipython==0.10
pexpect==2.3
pyOpenSSL==0.10
pyserial==2.3
python-apt==0.7.94.2ubuntu6.4
ufw==0.30pre1-0ubuntu2
wsgiref==0.1.2
wxPython==2.8.10.1
wxPython-common==2.8.10.1
zope.interface==3.5.3
